#register, #login{
height: 100vh;
background: var(--grey-color);
padding: 2rem 0;
}


#register .form-container, #login .form-container{
    max-width: var(--max-width);
    margin:1rem auto;
    padding: 3rem 2rem;
    display: flex;
    flex-flow: column wrap;
    border-radius: 10px;
    background:aliceblue;
    box-shadow: 0 5px 10px;
}

#register .form-container h2, #login .form-container h2 {
    margin: 1rem 0;
    font-size: 2rem;
}

#register .form-container h4, #login .form-container h4{
    margin-bottom: 1rem;
}

#register .form-container input, #login .form-container input{
    margin: 1rem 0;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    font-family: var(--main-font);
    border:none;
}



#register .form-container a, #login .form-container a{
    color:var(--light-color);
}

#register .form-container .btn-register, #login .form-container .btn-register{
    display: inline-block;
    margin:0 auto;
    color:var(--grey-color);
    background:var(--dark-color);
    padding: 0.75rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

#register .form-container h5 a, #login .form-container h5 a{
    color:rgb(64, 64, 175);
    font-size: .9rem;
}