@import url('https://fonts.googleapis.com/css?family=Comfortaa:700|Roboto&display=swap');

*{
    margin:0;
    padding:0;

}

:root{
    --max-width:1100px;
    --dark-color:#111;
    --light-color:ivory;
    --blue-color:aliceblue;
    --grey-color:azure;
    --red-color:rgb(136, 12, 12);
    --green-color: forestgreen;
    --background-green:#71eeb892;
    --background-green2:#5db89092;
    --main-font:'Roboto', sans-serif;
    --logo-font:'Comfortaa', cursive;
}

body{
    font-family: var(--main-font);
}



li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#111;
    cursor: pointer;
    font-size: 1.2rem;
}


/* Utility */
/* 1rm = 16px */
.py-1{
    padding:1rem;
}
.py-2{
    padding:2rem;
}
.py-1{
    padding:3rem;
}

.my-1{
    margin:1rem;
}
.my-2{
    margin:2rem;
}
.my-4{
    margin:3rem;
}


.text-center{
    text-align: center;
}

.alert{
    padding: 0.8rem;
    margin:1rem 0;
    opacity: 0.9;
    background: var(var(--light-color));
    color: var(--dark-color);
}


.alert-danger{
    background: var(--red-color);
    color:var(--light-color);
}