.articles-container{
    display:grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
    text-align: center;
    height: 100%;
    align-items: center;
}

.articles-body {
    height:100%;
    background-color: var(--background-green);
    padding:30px;
 
}

.articles-header{
    text-align: center;
  
}

.loading-data-header{
    height: 100vh;
    text-align: center;
    padding:30px;
    background-color: var(--background-green);
   
 }
 

@media only screen and (max-width: 980px) {
    .articles-container {
      grid-template-columns: 1fr;
    }
  }