#profilePage{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: var(--blue-color);
    text-align: center;
}

#profilePage .profile-container{
    display: flex;
    flex-flow: column wrap;
}

#profilePage .profile-container .profile-head{
    padding: 1rem;
    background: var(--grey-color);
  
}

#profilePage .profile-container .profile-info{
    background: var(--grey-color);
    margin: 1rem 0;
}

#profilePage .profile-container .experience{
    margin: 1rem 0;
}
#profilePage .profile-container .education{
    margin: 1rem 0;
}

.profile-pic{
    border-radius: 50%;
}