#profilePage{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--background-green);
    text-align: center;
    grid-gap: 1rem;
}

#profilePage .profile-container{
    display: flex;
    flex-flow: column wrap;
}

#profilePage .profile-container .profile-head{
    padding: 1rem;
    width: 50%;
    background: var(--grey-color);
    margin: 0 auto;
  
}

#profilePage .profile-container .profile-info{
    background: var(--grey-color);
    margin: 1rem 0;
    width: 50%;
    padding: 1rem;
    margin: 1rem auto;

}

#profilePage .profile-container .experience{
    margin: 1rem 0;
}
#profilePage .profile-container .education{
    margin: 1rem 0;
}

.profile-pic{
    border-radius: 50%;
    width:200px;
    height: 100px;
}


#posts-container{
    text-align: center;
    font-size: 1.2rem;
    height: 100%;
    }

#posts-container .post-comment h1{
    margin-top: 1rem;
    font-size:2rem;
    padding: 1rem 0;
}

#posts-container .post-comment .comment-form-container{
    height: 300px;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1rem 0;
    /* width:var(--max-width); */
    margin: 0 auto;
}

#posts-container .post-comment .comment-form-container .post-container{
    width: 100%;
}
#posts-container .post-comment .comment-form-container textarea{
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
    font-family: var(--main-font);
    font-size: 1.2rem;
}

#posts-container .post-comment .comment-form-container button{
    border:none;
    display: inline;
    width: 50%;
    font-size: 1.2rem;
    margin: 1rem 0;
}