.event-wrapper {
    width: 100%;
    height: 100%;
    /* background-color: aliceblue; */
    /* background: linear-gradient(to right top, #f7e151, #f7e151 65%, #eee 55%); */
    background:var(--cyan);
    opacity: .9;
}

.event-container {
    align-self: center;
    justify-self: center;
    width: 85%;
    margin: 0 auto;
}

.event-slider-page {
    width: 85%;
    height: auto;
    background-color:aliceblue;
    align-self: center;
    justify-self: center;
    margin-bottom: 50px;
    border-bottom: .5px solid lightgray;
    border-radius: 5px;
    /* box-shadow: -10px 10px rgba(0,0,0,.15); */
}

.event-slider-img {
    /* background-size: cover;
    background-size: no-repeat; */
    object-fit: cover;
    height: 150px;
    width: 100%; 
    min-width: 320px;
    /* background-image: linear-gradient(to right,black, transparent);    */
}

.event-description-wrapper {
    padding: 15px;
}
