.event-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    /* background:var(--cyan); */
    background: linear-gradient(to top, var(--aqua), var(--aqua) 85%, var(--cyan) 15%);
    opacity: .9;
    
}

.event-container {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
}

.event-slider-page {
    width: 30%;
    height: auto;
    background-color:aliceblue;
    margin-bottom: 50px;
    border-bottom: .5px solid lightgray;
    border-radius: 5px;
    border-radius: 5px;
}

.event-slider-img {
    object-fit: cover;
    max-height: 300px;
    width: 100%; 
    min-width: 320px;
    border-radius: 5px;
}

.event-slider-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    width: auto;
    padding: 50px;
    background-color: none;
    background: linear-gradient(to top, var(--aqua), var(--aqua) 85%, var(--cyan) 15%);
}

.event-description-wrapper,
.event-description,
.event-title {
    padding: 15px;
}

.event-description {
    min-height: 60px;
}

.founder-wrapper {
    background: linear-gradient(to left top,aliceblue, aliceblue 70%, transparent 45%);
    height: 90%;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.join {
    text-align: center;
    padding: 3rem;
    /* margin-top: 5%; */
    font-size: 55px;
    /* font-size: 4vw; */
    font-weight: lighter;

}

.invite {
    font-size: 22px;
    /* font-size: 1.5vw; */
    padding: 5rem;
    text-align: center;

}

.founder-hr {
    display: grid;
    border: 1px solid var(--yellow);
    width: 90%;
}

.event-container-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.founder-join {
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.join-h1 {
    margin-top: 30%;
    text-align: center;
    padding: 3rem;
    font-size: 55px;
    font-size: 4vw;
    font-weight: lighter;
}

@media only screen and (max-width: 768px) {
    .founder-wrapper {
        /* display: none; */
    }
    .join-h1 {
        /* display: none; */
    }
    .event-container-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
    .event-slider-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        width: auto;
        padding: 50px;
    }
}
