.events-page-container {
  width: 100%;
  background: linear-gradient(to left top, #81d2c7, #81d2c7 65%, #eee 55%);
  padding-top:25px;
}

.events-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.events-image{
  max-width: 100%;
  box-shadow: -10px 10px rgba(0,0,0,.15);
  margin-bottom:20px;

}

@media only screen and (max-width: 980px) {
  .events-list {
    grid-template-columns: 1fr;
  }
}

