

.post{
   display: flex;
   justify-content: center;
   align-items: center; 
   margin: 1rem 0;
}

.post-card{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    flex:1 1;
    padding: 1rem 0;
    margin: 1rem 0;
    background: var(--stone-color);

    border-radius: 5px;
}




.post .user-info{
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    width: 20%;
    margin: 1rem;
    justify-content: flex-start;
}

.post .user-info  a img{
    width:100px;
    height:80px;
    border-radius: 50%;
}

.comments-content{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    width: 70%;
    /* margin-right:1rem; */
    height: 100%;
}

.comments-content p{
    margin: 0.5rem 0;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.5;
}

.comments-content button,.comments-content .userComments,.comments-content .delete{
    font-size: 1.2rem;
    background: var(--stone-color);
    outline: none;
    border: 2px solid #111;
    margin: 0 0.4rem;
    padding: 0.2rem;
    font-family: var(--main-font);
    border-radius: 5px;
}

.comments-content .delete{
    background: var(--red-color);
}

.comments-content .userComments{
    background: var(--autumn-color);
    /* padding: 0.5rem;
    font-size: 1.2rem; */
    font-weight: bold;

}

