.more-info-btn {
  height: 40px;
  width: 120px;
  text-align: center;
  background: var(--yellow);
  font-weight: bolder;
  letter-spacing: 1.2px;
  position: relative;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  overflow: hidden;
  margin: 0 auto;
  border: none;
  font-size: 14px;

  border-radius: 5px;
  margin-top: 10px;
  line-height: 2.5;
}
.this.state.events.length .more-info-btn:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--yellow);
  top: 0;
  left: -120%;
  transform: skew(45deg);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.more-info-btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--light-color);
  top: 0;
  left: 120%;
  transform: skew(45deg);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.more-info-btn:hover:before {
  left: -51%;
}
.more-info-btn:hover:after {
  left: 49%;
}

.event-item {
  transition: transform 1s ease;
  width: 70%;
  margin: 25px auto;
  text-align: center;
  padding: 25px;
}

.event-item:hover {
  transform: scale(1.03);
}

.start-time {
  color: rgb(255, 115, 0);
  font-weight: 700;
}

.event-address {
  color: grey;
}

