
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    background: aliceblue;
    align-items: center;
    padding:0.75rem;
}

.nav-wrapper .nav-logo{
    font-family: var(--logo-font);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0px 15px 0px 0px;
}

.nav-list-item {
    padding: 0px 0px 0px 15px;
}

.nav-wrapper .nav-ul{
    display: flex;
}

.nav-wrapper .nav-ul li{
    padding: 0 1rem;
}

.nav-button {
    border-radius: 5px;
    color: var(--light-color);
    background-color: forestgreen;
    border: none;
    cursor: pointer;
    padding: 0.5rem 0.75rem;    
}

.nav-input {
    justify-self: center;
    align-self: center;
}

div.nav-input {
    width: 20%;
    padding:15px;
}

.input {
    width: 100%;
}

/* media queries */
@media only screen and (max-width: 600px) {
    div.nav-list {
      display:none;
    }

    .nav-wrapper {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .input,
    .nav-button,
    .nav-upload-btn,
    .nav-input {
        display:none;
    }

    .nav-logo {
        padding: 15px;
    }
  }